<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf1XHZI0r5lstPTh79WNMruXPJleL5QU0</string>
	<key>CLIENT_ID</key>
	<string>26909518628-mkleb1ofvl62b7mi4plka03ogi9ki9qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26909518628-mkleb1ofvl62b7mi4plka03ogi9ki9qp</string>
	<key>GCM_SENDER_ID</key>
	<string>26909518628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reviewcalendar.app</string>
	<key>PROJECT_ID</key>
	<string>review-calendar-4206b</string>
	<key>STORAGE_BUCKET</key>
	<string>review-calendar-4206b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26909518628:ios:b46b3e280662fc7de3e1b1</string>
</dict>
</plist>
